:root {
  --inter-font: 'Inter', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Common Style */
.container {
  max-width: 1212px;
  margin: 0 auto;
}

/* Nav Style */
.navigation_bar {
  margin-top: 49px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search_parent {
  position: relative;
}

.search_parent input {
  width: 508.94px;
  padding: 12px 12px 12px 28px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 66px;
  border: none;
  background-color: rgb(241, 241, 241);
}

.search_parent input::placeholder {
  color: rgb(204, 204, 204);
  font-style: italic;
}

.search_parent i {
  font-size: 20px;
  color: rgb(186, 186, 186);
  position: absolute;
  top: 13px;
  right: 20px;
}

.nav_items {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.nav_items li a {
  font-size: 16px;
  font-weight: 500;
  color: rgb(112, 112, 112);
  text-decoration: none;
}

/* Banner Style */
.banner {
  background-color: #feeae9;
  border-radius: 16px;
  padding: 68px 63px 68px 46px;
  margin-top: 63px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner img {
  width: 402px;
  height: 378px;
}

.banner_left h2 {
  font-size: 56px;
  font-weight: 700;
  color: #1f1f1f;
}

.banner_left p {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--inter-font);
  color: #4e4e4e;
  margin-bottom: 16px;
}

.banner_left h3 {
  font-size: 41px;
  font-weight: 500;
  color: #ff136f;
}

.banner_left button {
  font-size: 16px;
  font-weight: 500;
  font-family: var(--inter-font);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  background: linear-gradient(
    180deg,
    rgb(255, 88, 155) -0.006%,
    rgb(255, 19, 111) 99.994%
  );
  padding: 16px 28px;
  margin: 8px 0;
}

/* Categories Style */
.categories {
  margin-top: 64px;
}

.categories_items {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.category_item_watch {
  width: 359px;
  height: 120px;
  background: linear-gradient(
    151.85deg,
    rgb(255, 156, 53) 14.537%,
    rgb(255, 208, 25) 84.486%
  );
  border-radius: 16px;
  padding: 15px 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category_item_watch h4 {
  font-size: 36px;
  font-weight: 500;
  color: #ffffff;
}

.category_item_watch img {
  width: 68.21px;
  height: 90px;
}

.category_item_bag {
  width: 359px;
  height: 120px;
  background: linear-gradient(
    180deg,
    rgb(255, 88, 155) -0.006%,
    rgb(255, 19, 111) 99.994%
  );
  border-radius: 16px;
  padding: 15px 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category_item_bag h4 {
  font-size: 36px;
  font-weight: 500;
  color: #ffffff;
}

.category_item_bag img {
  width: 94px;
  height: 94px;
}

.category_item_shoes {
  width: 359px;
  height: 120px;
  background: linear-gradient(
    170.38deg,
    rgb(66, 137, 255) 15.416%,
    rgb(63, 7, 248) 74.29%
  );
  border-radius: 16px;
  padding: 15px 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category_item_shoes h4 {
  font-size: 36px;
  font-weight: 500;
  color: #ffffff;
}

.category_item_shoes img {
  width: 97px;
  height: 97px;
}

/* Shoes Style */
.shoes {
  margin-top: 49px;
  background-color: #f4f4f4;
}

.shoes_content {
  padding: 49px 0;
}

.shoes_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shoes_head h3 {
  font-size: 36px;
  font-weight: 600;
  color: #1f1f1f;
}

.shoes_head a {
  font-size: 20px;
  font-weight: 500;
  color: #ff9d00;
  text-decoration: none;
}

.shoes_items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.shoes_item {
  width: 360px;
  background-color: #ffffff;
  padding: 24px 12px;
  border-radius: 12px;
  text-align: center;
}

.shoes_item img {
  width: 336px;
  height: 202px;
  margin-bottom: 22px;
}

.shoes_item h4 {
  font-size: 24px;
  font-weight: 600;
  color: #1f1f1f;
  margin-bottom: 16px;
}

.shoes_item p {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--inter-font);
  color: #4e4e4e;
  margin-bottom: 16px;
}

.shoes_item span {
  font-size: 24px;
  font-weight: 500;
  color: #000000;
  margin-bottom: 16px;
  display: block;
}

.shoes_item button {
  font-size: 16px;
  font-weight: 500;
  font-family: var(--inter-font);
  color: #ffffff;
  border: none;
  border-radius: 6px;
  padding: 16px 28px;
  background-color: #000000;
}
